
<!-- START OF HEADER  -->
	<header id="header-mainpage">
      <div id="header-mainpage-logo-div">
        <a href="/"><img src="/images/header/emcn-fullcolour-logo.svg" id="header-mainpage-logo" ></a>
      </div>
      <div id="header-menu-trigger" class="menu" data-menu="menu-trigger">
        <div class="icon"></div>
      </div>
      <div id="header-mainpage-overlay" class="<!--#echo var="color" -->-overlay"></div>
      <div id="header-mainpage-title">
				<span id="header-mainpage-title-text" class="english"><!--#echo encoding="none" var="title_en" --></span>
				<span id="header-mainpage-title-text" class="french"><!--#echo encoding="none" var="title_fr" --></span>
				<span id="header-mainpage-title-text" class="spanish"><!--#echo encoding="none" var="title_es" --></span>
				<span id="header-mainpage-title-text" class="soomali"><!--#echo var="title_so" --></span>
				<span id="header-mainpage-title-text" class="arabic"><!--#echo var="title_ar" --></span>
				<span id="header-mainpage-title-text" class="tigrinya"><!--#echo var="title_ti" --></span>
				<span id="header-mainpage-title-text" class="hindi"><!--#echo var="title_hi" --></span>
			</div>

      <div class="tv">
        <div class="screen mute" id="tv"></div>
      </div>
	</header>
  <!-- END OF HEADER -->
