<!-- START OF HEADER  -->
	<header id="header-subpage">
      <div id="header-subpage-logo-div">
        <a href="/"><img src="/images/header/emcn-fullcolour-logo.svg" id="header-subpage-logo" ></a>
      </div>
      <div id="header-menu-trigger" class="menu" data-menu="menu-trigger">
        <div class="icon"></div>
      </div>
      <div id="header-subpage-overlay" class="<!--#echo var="color" -->-overlay"></div>

      <div class="tv">
        <div class="screen mute" id="tv"></div>
      </div>
	</header>
  <!-- END OF HEADER -->
