<!-- START OF NAV MENU PAGE -->
<nav id="nav-menu" class="sidebar frontpage" role="navigation">
  <section id="nav-menu-section" class="">
    <div id="nav-menu-section-languageoptions" class="frontpage">
      <!-- <div id="nav-menu-glass"> -->
        <!-- Translations coming soon... -->
        <ul id="nav-menu-section-languageoptions-list">
          <li id="english" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('english')">English</a></li> <!-- ENGLISH -->
          <li id="french" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('french')">Français</a></li> <!-- FRENCH -->
          <li id="spanish" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('spanish')">Español</a></li> <!-- FRENCH -->
          <li id="soomali" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('soomali')">الصوماليون</a></li>  <!-- SOOMALI -->
          <li id="arabic" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('arabic')">عَرَبِي</a></li> <!-- ARABIC -->
          <li id="tigrinya" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('tigrinya')">ትግርኛ</a></li> <!-- Tigrinya -->
          <li id="hindi" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('hindi')">हिन्दी</a></li> <!-- HINDI -->
          <!--<li id="farci" class="nav-menu-languageoptions-list-item grey-text-shadow">فارسی</li> <!-- FARCI -->
          <!--<li id="amharic" class="nav-menu-languageoptions-list-item grey-text-shadow">አማርኛ</li> <!-- AMHARIC -->

          <!-- <li id="urdu" class="nav-menu-languageoptions-list-item grey-text-shadow">اُردُو</li> --><!-- URDU -->

          <!-- <li id="tagalog" class="nav-menu-languageoptions-list-item grey-text-shadow">Tagalog</li>--> <!-- TAGALOG -->
        </ul>
      <!-- </div> -->
    </div>
    <div id="nav-menu-section-welcomehome" class="frontpage">
      <span id="nav-menu-section-welcomehome-text" class="english grey-text-shadow">WELCOME HOME</span>
      <span id="nav-menu-section-welcomehome-text" class="french grey-text-shadow">Bienvenue chez vous</span>
      <span id="nav-menu-section-welcomehome-text" class="spanish grey-text-shadow">Bienvenido a casa</span>
      <span id="nav-menu-section-welcomehome-text" class="soomali grey-text-shadow">Soo dhawee guriga</span>
      <span id="nav-menu-section-welcomehome-text" class="arabic grey-text-shadow">مرحبًا بيتك</span>
      <span id="nav-menu-section-welcomehome-text" class="tigrinya grey-text-shadow">እንቋዕ ብሰላም home መጻእካ</span>
      <span id="nav-menu-section-welcomehome-text" class="english grey-text-shadow">आपका स्वागत है</span>



    </div>

    <div id="nav-menu-section-frontpage-learnenglish-div" class="nav-menu-section-frontpage-link-div">
      <a id="nav-menu-section-learnenglish-link" class="english grey-text-shadow frontpage-link" href="/newcomers/language_services.html">WANT TO LEARN <span class="orange">ENGLISH</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="french grey-text-shadow frontpage-link" href="/newcomers/language_services.html">Veut apprendre <span class="orange">l'anglais</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="spanish grey-text-shadow frontpage-link" href="/newcomers/language_services.html">¿Quieres aprender <span class="orange">inglés</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="soomali grey-text-shadow frontpage-link" href="/newcomers/language_services.html">Doonayaan inay bartaan <span class="orange">ingiriisi</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="arabic grey-text-shadow frontpage-link" href="/newcomers/language_services.html">انهم يريدون التعلم <span class="orange">الإنجليزية</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="tigrinya grey-text-shadow frontpage-link" href="/newcomers/language_services.html">ንምምሃር ይደልዩ <span class="orange">እንግሊዝኛ</span>?</a>
      <a id="nav-menu-section-learnenglish-link" class="hindi grey-text-shadow frontpage-link" href="/newcomers/language_services.html">सीखना चाहते हैं <span class="orange">वायुसेना</span>?</a>

    </div>

    <div id="nav-menu-section-frontpage-settlingin-div" class="nav-menu-section-frontpage-link-div">
      <a id="nav-menu-section-settlingin-link" class="english grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">ARE YOU <span class="orange">SETTLING IN</span>&nbsp;OK?</a>
      <a id="nav-menu-section-settlingin-link" class="french grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">Est-ce que vous vous <span class="orange">installez</span> dans&nbsp;ok?</a>
      <a id="nav-menu-section-settlingin-link" class="spanish grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">¿te estás <span class="orange">acomodando</span>&nbsp;bien?</a>
      <a id="nav-menu-section-settlingin-link" class="soomali grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">miyaad tahay <span class="orange">degitaanka</span>&nbsp;ok?</a>
      <a id="nav-menu-section-settlingin-link" class="arabic grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">هل انت <span class="orange">تسوية</span>&nbsp;حسنا؟</a>
      <a id="nav-menu-section-settlingin-link" class="tigrinya grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">ኢኻ or <span class="orange">ብምምዝጋብ</span>&nbsp;ሕራይ?</a>
      <a id="nav-menu-section-settlingin-link" class="hindi grey-text-shadow frontpage-link" href="/newcomers/settlement_services.html">तुम हो <span class="orange">में सेटिंग</span>&nbsp;ठीक है?</a>



    </div>

    <div id="nav-menu-section-frontpage-lookingforwork-div" class="nav-menu-section-frontpage-link-div">
      <a id="nav-menu-section-lookingforwork-link" class="english grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">ARE YOU LOOKING FOR&nbsp;<span class="orange">WORK</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="french grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">TROUVEZ-VOUS UN <span class="orange">TRAVAIL</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="spanish grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">¿Buscas <span class="orange">empleo</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="soomali grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">WAXAAD U BAAHAN YAHAY <span class="orange">SHAQADA</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="arabic grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">ما تحتاجه <span class="orange">وظيفة</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="tigrinya grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">ይደልዩ እዩ&nbsp;<span class="orange">ስራሕ</span>?</a>
      <a id="nav-menu-section-lookingforwork-link" class="hindi grey-text-shadow frontpage-link" href="/newcomers/employment_services.html">आप के लिए खोज रहे हैं&nbsp;<span class="orange">काम</span>?</a>

    </div>

    <div id="nav-menu-section-frontpage-lookingforcommunity-div" class="nav-menu-section-frontpage-link-div">
      <a id="nav-menu-section-lookingforcommunity-link" class="english grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">ARE YOU LOOKING FOR&nbsp;<span class="orange">COMMUNITY</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="french grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">Cherchez-vous une <span class="orange">communauté</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="spanish grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">¿Estás buscando&nbsp;<span class="orange">comunidad</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="soomali grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">WAXAAD U BAAHAN YAHAY&nbsp;<span class="orange">BULSHADA</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="arabic grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">ما تحتاجه&nbsp;<span class="orange">المجتمع؟</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="tigrinya grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">ይደልዩ እዩ&nbsp;<span class="orange">ሕብረተሰብ</span>?</a>
      <a id="nav-menu-section-lookingforcommunity-link" class="hindi grey-text-shadow frontpage-link" href="/newcomers/empowered_communities.html">आप के लिए खोज रहे हैं&nbsp;<span class="orange">समुदाय</span>?</a>

    </div>


    <!--#include virtual="/_includes/menus/04_nav-menu-frontpage.html" -->
  </section>
</nav>
<!-- END OF NAV MENU PAGE -->


<!-- END OF HEADER  -->
