<!-- START OF NAV MENU PAGE -->
<nav id="nav-menu" class="sidebar dark-grey-trans-bg" role="navigation">
  <section id="nav-menu-section" class="">
    <div id="nav-menu-section-languageoptions" class="">
      <!-- <div id="nav-menu-glass"> -->
        <!-- Translations coming soon... -->
        <ul id="nav-menu-section-languageoptions-list">
          <li id="english" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('english')">English</a></li> <!-- ENGLISH -->
          <li id="french" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('french')">Français</a></li> <!-- FRENCH -->
          <li id="spanish" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('spanish')">Español</a></li> <!-- FRENCH -->
          <li id="soomali" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('soomali')">الصوماليون</a></li>  <!-- SOOMALI -->
          <li id="soomali" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('arabic')">عَرَبِيّ</a></li>  <!-- ARABIC -->
          <li id="tigrinya" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('tigrinya')">ትግርኛ</a></li> <!-- Tigrinya -->
          <li id="hindi" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('hindi')">हिन्दी</a></li> <!-- HINDI -->
          <!--<li id="farci" class="nav-menu-languageoptions-list-item grey-text-shadow">فارسی</li> <!-- FARCI -->
          <!--<li id="amharic" class="nav-menu-languageoptions-list-item grey-text-shadow">አማርኛ</li> <!-- AMHARIC -->
          <!-- <li id="arabic" class="nav-menu-languageoptions-list-item grey-text-shadow">عَرَبِيّ</li> <!-- ARABIC -->
          <!-- <li id="urdu" class="nav-menu-languageoptions-list-item grey-text-shadow">اُردُو</li> <!-- URDU -->
          <!-- <li id="tigrinya" class="nav-menu-languageoptions-list-item grey-text-shadow">ትግርኛ</li> <!-- Tigrinya -->
          <!-- <li id="hindi" class="nav-menu-languageoptions-list-item grey-text-shadow">हिन्दी</li> <!-- HINDI -->
          <!-- <li id="tagalog" class="nav-menu-languageoptions-list-item grey-text-shadow">Tagalog</li> <!-- TAGALOG -->
        </ul>
      <!-- </div> -->
    </div>
    <div id="nav-menu-section-welcomehome">
      <span id="nav-menu-section-welcomehome-text" class="english">WELCOME HOME</span>
      <span id="nav-menu-section-welcomehome-text" class="french">Bienvenue chez vous</span>
      <span id="nav-menu-section-welcomehome-text" class="spanish">Bienvenido a casa</span>
      <span id="nav-menu-section-welcomehome-text" class="soomali">GURIGA GURIGA</span>
      <span id="nav-menu-section-welcomehome-text" class="arabic">أهلا بك</span>
      <span id="nav-menu-section-welcomehome-text" class="tigrinya">እንቋዕ ብሰላም home መጻእካ</span>
      <span id="nav-menu-section-welcomehome-text" class="hindi">आपका स्वागत है</span>
    </div>
    <!--#include virtual="/_includes/menus/04_nav-menu.html" -->
  </section>
</nav>
<!-- END OF NAV MENU PAGE -->

<div id="below-header-separator" class="<!--#echo var="color" -->-bg"></div>
<!-- END OF HEADER  -->
