<!-- START OF NAV MENU PAGE -->
<nav id="nav-menu" class="sidebar frontpage" role="navigation">
  <section id="nav-menu-section" class="">
    <div id="nav-menu-section-languageoptions" class="frontpage">
      <!-- <div id="nav-menu-glass"> -->

        <ul id="nav-menu-section-languageoptions-list">
          <li id="english" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('english')">English</a></li> <!-- ENGLISH -->
          <li id="french" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('french')">Français</a></li> <!-- FRENCH -->
          <li id="spanish" class="nav-menu-languageoptions-list-item grey-text-shadow"><a href="#" onclick="set_language('spanish')">Español</a></li> <!-- FRENCH -->
          <li id="soomali" class="nav-menu-languageoptions-list-item grey-text-shadow unimplemented">الصوماليون</li>  <!-- SOOMALI -->
          <li id="arabic" class="nav-menu-languageoptions-list-item grey-text-shadow unimplemented">عَرَبِيّ</li> <!-- ARABIC -->
          <li id="tigrinya" class="nav-menu-languageoptions-list-item grey-text-shadow unimplemented">ትግርኛ</li> <!-- Tigrinya -->
          <li id="hindi" class="nav-menu-languageoptions-list-item grey-text-shadow unimplemented">हिन्दी</li> <!-- HINDI -->
        </ul>
      <!-- </div> -->
    </div>
    <div id="nav-menu-section-welcomehome" class="frontpage">
      <span id="nav-menu-section-welcomehome-text" class="english grey-text-shadow">THANK YOU FOR GETTING IN TOUCH</span>
      <span id="nav-menu-section-welcomehome-text" class="french grey-text-shadow">MERCI DE NOUS CONTACTER</span>
      <span id="nav-menu-section-welcomehome-text" class="spanish grey-text-shadow">GRACIAS POR CONTACTARNOS</span>
    </div>



    <!--#include virtual="/_includes/menus/04_nav-menu-frontpage.html" -->
  </section>
</nav>
<!-- END OF NAV MENU PAGE -->


<!-- END OF HEADER  -->
