<!-- MENU IN NAVIGATION -->
  <div id="nav-menu-menu-bar" class="frontpage light-grey">
    <div id="nav-menu-menu" class="frontpage">
      <div id="nav-menu-menu-newcomer">
        <div id="accent-bar" class="orange-bg grey-div-shadow"></div>
        <h1 class="grey-text-shadow" id="nav-menu-menu-newcomer-title">NEWCOMERS</h3>
        <ul id="nav-menu-menu-newcomer-list">
          <li class="nav-menu-menu-newcomer-list-item grey-text-shadow"><a href="/newcomers/employment_services.html">Find Work</a></li>
          <li class="nav-menu-menu-newcomer-list-item grey-text-shadow"><a href="/newcomers/language_services.html">Learn English</a></li>
          <li class="nav-menu-menu-newcomer-list-item grey-text-shadow"><a href="/newcomers/settlement_services.html">Settle in Canada</a></li>
          <li class="nav-menu-menu-newcomer-list-item grey-text-shadow"><a href="/newcomers/empowered_communities.html">Connect to the Community</a></li>
          <!-- <li class="nav-menu-menu-newcomer-list-item grey-text-shadow">Help during tough times</li> -->

        </ul>
      </div>
      <div id="nav-menu-menu-interactions">
        <div id="accent-bar" class="purple-bg grey-div-shadow"></div>
        <h1 class="grey-text-shadow" id="nav-menu-menu-interactions-title">INTERACTIONS</h3>
        <ul id="nav-menu-menu-interactions-list">
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/contact_us.html">Contact us</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/hire_a_newcomer.html">Hire a Newcomer</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/membership.html">Become a Member</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/volunteer.html">Volunteer</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/donate.html">Donate</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/sponsor_a_refugee.html">Sponsor a Refugee</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/work_at_emcn.html">Work at EMCN</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="/interactions/anne_falk_scholarship.html">Apply for Anne Falk Scholarship</a></li>
          <li class="nav-menu-menu-interactions-list-item grey-text-shadow"><a href="http://rise.emcn.ab.ca">RISE Awards</a></li>
        </ul>
      </div>
      <div id="nav-menu-menu-corporate">
        <div id="accent-bar" class="blue-bg grey-div-shadow"></div>
        <h1 class="grey-text-shadow" id="nav-menu-menu-corporate-title">CORPORATE</h3>
          <ul id="nav-menu-menu-corporate-list">
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/vision.html">Vision</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/leadership.html">Leadership Team</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/board.html">Board</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/media.html">Media</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/c5.html">C5</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/programs.html">Programs & Services</a></li>
            <li class="nav-menu-menu-corporate-list-item grey-text-shadow"><a href="/corporate/funders.html">Funders</a></li>
          </ul>
        </div>
    </div>
  </div>
  <!-- END OF MENU IN NAVIGATION -->
