<div id="below-main-content-separator" class="light-<!--#echo var="color" -->-bg"></div>

<footer class="darkest-grey-bg">

  <!-- LOCATION BAR -->
    <div id="location-bar" class="<!--#echo var="color" -->-bg">
      <div id="locations" class="<!--#echo var="color" -->-bg">
        <div id="location-title">
          <div id="accent-bar" class="white-bg <!--#echo var="color" -->-div-shadow"></div>
          <h3 class="<!--#echo var="color" -->-text-shadow" id="location-title-text">EMCN - Main Office</h3>
        </div>
        <div id="location-address">
          <div id="accent-bar" class="white-bg <!--#echo var="color" -->-div-shadow hidewhensmall"></div>
          <p id="location-address-text" class="<!--#echo var="color" -->-text-shadow">
            11713 - 82 Street NW<br/>
            Edmonton, Alberta<br/>
            T5B 2V9</p>
        </div>
        <div id="location-contact">
          <div id="accent-bar" class="white-bg <!--#echo var="color" -->-div-shadow hidewhensmall"></div>
            <div id="location-contact-text-table">
              <div id="location-contact-text-table-phone-row">
                <div id="location-contact-text-table-phone-title" class="<!--#echo var="color" -->-text-shadow">Phone:</div>
                <div id="location-contact-text-table-phone-value" class="<!--#echo var="color" -->-text-shadow"><a href="tel:7804247709">780 424 7709</a></div>
              </div>
              <div id="location-contact-text-table-fax-row">
                <div id="location-contact-text-table-fax-title" class="<!--#echo var="color" -->-text-shadow">Fax:</div>
                <div id="location-contact-text-table-fax-value" class="<!--#echo var="color" -->-text-shadow"><a href="tel:7804247736">780 424 7736</a></div>
              </div>
              <div id="location-contact-text-table-email-row">
                <div id="location-contact-text-table-email-title" class="<!--#echo var="color" -->-text-shadow">E-mail:</div>
                <div id="location-contact-text-table-email-value" class="<!--#echo var="color" -->-text-shadow"><a href="mailto:info@emcn.ab.ca">info@emcn.ab.ca</a></div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div id="below-location-content-separator" class="darkest-grey-bg"></div>
  <!-- MAP IN FOOTER -->
    <div id="map-bar" class="dark-grey-bg">
      <div id="map"></div>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsVjl8nfLlz88cUC75lf8RyRuEYWansaU&callback=initMap">
  </script>
    </div>
    <div id="below-map-content-separator" class="darkest-grey-bg"></div>

    <!--#include virtual="/_includes/menus/06_footermenu.html" -->

    <div id="footer-anchor" class="darkest-grey-bg" style="text-align:center;">
      <img id="footer-anchor-logo" src="/images/footer/foot-emcn-logo.svg">
      <p id="footer-anchor-copyright" class="blue-grey">Copyright 2018, Edmonton Mennonite Centre for Newcomers.</p>
      <div id="footer-subpage-socialbar">
        <ul id="footer-subpage-socialbar-list">
          <li class="footer-subpage-socialbar-list-item"><a href="https://twitter.com/YEGNewcomers" class="footer-subpage-socialbar-list-item-logo" id="footer-subpage-socialbar-list-item-logo-twitter"></a></li>
          <li class="footer-subpage-socialbar-list-item"><a href="https://www.youtube.com/user/YEGNewcomers" class="footer-subpage-socialbar-list-item-logo" id="footer-subpage-socialbar-list-item-logo-youtube"></a></li>
          <li class="footer-subpage-socialbar-list-item-last"><a href="https://www.facebook.com/YEGNewcomers/" class="footer-subpage-socialbar-list-item-logo" id="footer-subpage-socialbar-list-item-logo-facebook"></a></li>
        </ul>
      </div>
    </div>
</footer>
