  <div id="footer-frontpage-socialbar">
    <ul id="footer-frontpage-socialbar-list">
      <li class="footer-frontpage-socialbar-list-item"><a href="https://twitter.com/YEGNewcomers" class="footer-frontpage-socialbar-list-item-logo" id="footer-frontpage-socialbar-list-item-logo-twitter"></a></li>
      <li class="footer-frontpage-socialbar-list-item"><a href="https://www.youtube.com/user/YEGNewcomers" class="footer-frontpage-socialbar-list-item-logo" id="footer-frontpage-socialbar-list-item-logo-youtube"></a></li>
      <li class="footer-frontpage-socialbar-list-item-last"><a href="https://www.facebook.com/YEGNewcomers/" class="footer-frontpage-socialbar-list-item-logo" id="footer-frontpage-socialbar-list-item-logo-facebook"></a></li>
    </ul>
  </div>
</div>
</body>
</html>
